<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <button><a href="/">home</a></button>
                {{#if loggedIn}}
                <button><a href="/dashboard" >dashboard</a></button>
                <button id="logout" class="btn-no-style">logout</button>
                {{else}}
                <button><a href="/login">login</a></button>
                {{/if}}
            </nav>
            <h1>
                The Tech Blog
            </h1>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            © Tony Huang 2021 <a href="https://github.com/zoomzooom6" target="_blank">Github</a>
        </footer>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>