<article class="post">
    <div class="title">
        <h2>{{post.title}}</h2>
        <p>{{post.contents}}</p>
    </div>
    <div class="meta">
        By {{post.user.username}} on
        {{format_date post.created_at}}
    </div>
</article>
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">post comment</button>
    </div>
</form>
{{/if}}
{{> comments post.comments}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}